<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link type="text/css" rel="stylesheet" href="../public/css/activation.css">
    <title>Title</title>
</head>
<body>
    <div class="top">
        <p class="top_left">
            <a href="member.html">
                <img src="../public/img/homepage/01.png">
            </a>
        </p>
        <p class="top_center">自主激活</p>

    </div>

    <div class="account">
        <input class="account_name" type="text" value="请设置您的昵称">
        <input class="account_password" type="text" value="请输入您的微信商户单号">
        <input class="account_submit" id="account_submit" type="submit" value="激活">
    </div>
    <div class="prompt">
        温馨提示：如果您支付成功但没有成功开通会员服务，请您自助填写支付凭证中的“
        <span class="prompt_sapn">商户账单</span>
        ”进行手工激活，如果有任何疑问或困难请及时联系客服。祝您生活愉快！
    </div>
    <div class="wechat">
        <img src="../public/img/asia/d2d743f1gw1f5x0cn9fwdj20jb0fk40w.jpg">
        <img src="../public/img/asia/alipay.jpg">
    </div>


    <div class="end">
        <div class="end_en">
            <a href="index.html" class="end_img">
                <img class="img01" src="../public/img/homepage/end_02.jpg">
                <img class="img02" src="../public/img/homepage/end_01.jpg">
            </a>
        </div>
        <div class="end_en">
            <a href="channel.html" class="end_img">
                <img class="img04" src="../public/img/homepage/end_04.jpg">
                <img class="img03" src="../public/img/homepage/end_03.jpg">
            </a>
        </div>
        <div class="end_en">
            <a href="diamonds.html" class="end_img">
                <img class="img06" src="../public/img/homepage/end_06.jpg">
                <img class="img05" src="../public/img/homepage/end_05.jpg">
            </a>
        </div>
        <div class="end_en">
            <a href="#" class="end_img">
                <img class="img08" src="../public/img/homepage/end_08.jpg">
                <img class="img07" src="../public/img/homepage/end_07.jpg">
            </a>
        </div>
    </div>




    <script src="../public/js/zepto.min.js"></script>
    <script src="../public/js/touch.js"></script>
    <script src="../public/js/fx.js"></script>
    <script src="../public/js/activation/activation.js"></script>
</body>
</html>