<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link type="text/css" rel="stylesheet" href="../public/css/channel.css">
    <title>Title</title>
</head>
<body>
    <div class="top">
        <p class="top_left">
            <a href="../index.html">
                <img src="../public/img/homepage/01.png">
            </a>
        </p>
        <p class="top_center">详情播放</p>
        <div class="top_right">开通VIP</div>
    </div>

    <div class="box">
        <div class="box_left">
            <img src="../public/img/channel/channel_01.jpg">
        </div>
        <div class="box_left">
            <div class="box_center">
                <p class="box_center_p">亚洲精典</p>
                <p class="box_center_p">1528部精品等您品鉴</p>
                <p class="box_center_p">今日更新32部</p>
            </div>
        </div>
        <div class="box_left">
            <img src="../public/img/channel/channel_02.jpg">
        </div>
    </div>


    <div class="box">
        <div class="box_left">
            <div class="box_center" style="background: #ff66cc;">
                <p class="box_center_p">唯美短片</p>
                <p class="box_center_p">1811部精品等您品鉴</p>
                <p class="box_center_p">今日更新41部</p>
            </div>
        </div>
        <div class="box_left">
            <img src="../public/img/channel/channel_03.jpg">
        </div>
        <div class="box_left">
            <div class="box_center" style="background: #66ccff;">
                <p class="box_center_p">唯美短片</p>
                <p class="box_center_p">978部精品等您品鉴</p>
                <p class="box_center_p">今日更新38部</p>
            </div>
        </div>

    </div>


    <div class="box">
        <div class="box_left">
            <img src="../public/img/channel/channel_04.jpg">
        </div>
        <div class="box_left">
            <div class="box_center" style="background: #66cc66;">
                <p class="box_center_p">情趣诱惑</p>
                <p class="box_center_p">1654部精品等您品鉴</p>
                <p class="box_center_p">今日更新45部</p>
            </div>
        </div>
        <div class="box_left">
            <img src="../public/img/channel/channel_05.jpg">
        </div>
    </div>

    <div class="box">
        <div class="box_left">
            <div class="box_center" style="background: #ffcc99;">
                <p class="box_center_p">寂寞少妇</p>
                <p class="box_center_p">1118部精品等您品鉴</p>
                <p class="box_center_p">今日更新29部</p>
            </div>
        </div>
        <div class="box_left">
            <img src="../public/img/channel/channel_06.jpg">
        </div>
        <div class="box_left">
            <div class="box_center" style="background: #947ad6;">
                <p class="box_center_p">制服丝袜</p>
                <p class="box_center_p">1352部精品等您品鉴</p>
                <p class="box_center_p">今日更新34部</p>
            </div>
        </div>
    </div>


    <div class="box">
        <div class="box_left">
            <img src="../public/img/channel/channel_07.jpg">
        </div>
        <div class="box_left">
            <div class="box_center" style="background: #ff6699;">
                <p class="box_center_p">热门自拍</p>
                <p class="box_center_p">2103部精品等您品鉴</p>
                <p class="box_center_p">今日更新36部</p>
            </div>
        </div>
        <div class="box_left">
            <img src="../public/img/channel/channel_08.jpg">
        </div>
    </div>


    <div class="end">
        <div class="end_en">
            <a href="index.html" class="end_img">
                <img class="img01" src="../public/img/homepage/end_02.jpg">
                <img class="img02" src="../public/img/homepage/end_01.jpg">
            </a>
        </div>
        <div class="end_en">
            <a href="#" class="end_img">
                <img class="img04" src="../public/img/homepage/end_04.jpg">
                <img class="img03" src="../public/img/homepage/end_03.jpg">
            </a>
        </div>
        <div class="end_en">
            <a href="diamonds.html" class="end_img">
                <img class="img06" src="../public/img/homepage/end_06.jpg">
                <img class="img05" src="../public/img/homepage/end_05.jpg">
            </a>
        </div>
        <div class="end_en">
            <a href="member.html" class="end_img">
                <img class="img08" src="../public/img/homepage/end_08.jpg">
                <img class="img07" src="../public/img/homepage/end_07.jpg">
            </a>
        </div>
    </div>


    <script src="../public/js/zepto.min.js"></script>
    <script src="../public/js/touch.js"></script>
    <script src="../public/js/fx.js"></script>
    <script src="../public/js/channel/channel.js"></script>
</body>
</html>