<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link type="text/css" rel="stylesheet" href="../public/css/diamonds.css">
    <title>Title</title>
</head>
<body>
    <div class="top">
        <p class="top_left">
            <a href="index.html">
                <img src="../public/img/homepage/01.png">
            </a>
        </p>
        <div class="top_center">钻石专区</div>
        <div class="top_right">开通VIP</div>
    </div>

    <div class="box">
        <div class="box_01">
            <img src="../public/img/diamonds/v_01.jpg">
            <p class="box_P">
                完全監視辰巳奈都子
            </p>
            <div class="list_triangle">
                <div class="list_tilt">钻石</div>
            </div>
        </div>
        <div class="box_01">
            <img src="../public/img/diamonds/v_02.jpg">
            <p class="box_P">
                葉月ゆめ - ゆめうつつ
            </p>
            <div class="list_triangle">
                <div class="list_tilt">钻石</div>
            </div>
        </div>
        <div class="box_01">
            <img src="../public/img/diamonds/v_03.jpg">
            <p class="box_P">
                Abigaile Johnson
            </p>
            <div class="list_triangle">
                <div class="list_tilt">钻石</div>
            </div>
        </div>
    </div>

    <div class="box">
        <div class="box_01">
            <img src="../public/img/diamonds/v_04.jpg">
            <p class="box_P">
                馬あかり Akari Arima - 月アカリ
            </p>
            <div class="list_triangle">
                <div class="list_tilt">钻石</div>
            </div>
        </div>
        <div class="box_01">
            <img src="../public/img/diamonds/v_05.jpg">
            <p class="box_P">
                西野つばさ - 舞姫 my hime
            </p>
            <div class="list_triangle">
                <div class="list_tilt">钻石</div>
            </div>
        </div>
        <div class="box_01">
            <img src="../public/img/diamonds/v_06.jpg">
            <p class="box_P">
                一色雅 メロメロ~ン
            </p>
            <div class="list_triangle">
                <div class="list_tilt">钻石</div>
            </div>
        </div>
    </div>

    <div class="box">
        <div class="box_01">
            <img src="../public/img/diamonds/v_07.jpg">
            <p class="box_P">
                西條るり - 111Mcup
            </p>
            <div class="list_triangle">
                <div class="list_tilt">钻石</div>
            </div>
        </div>
        <div class="box_01">
            <img src="../public/img/diamonds/v_08.jpg">
            <p class="box_P">
                西野つばさ - 舞姫 my hime
            </p>
            <div class="list_triangle">
                <div class="list_tilt">钻石</div>
            </div>
        </div>
        <div class="box_01">
            <img src="../public/img/diamonds/v_09.jpg">
            <p class="box_P">
                 メロメロ~ン
            </p>
            <div class="list_triangle">
                <div class="list_tilt">钻石</div>
            </div>
        </div>
    </div>

    <!--<div class="box">
        <div class="box_01">
            <img src="../public/img/diamonds/v_10.jpg">
            <p class="box_P">
                100% 美少女 - 砥岸凜
            </p>
            <div class="list_triangle">
                <div class="list_tilt">钻石</div>
            </div>
        </div>
        <div class="box_01">
            <img src="../public/img/diamonds/v_11.jpg">
            <p class="box_P">
                (旅情愛欲 - 松金ようこ (松金洋子)
            </p>
            <div class="list_triangle">
                <div class="list_tilt">钻石</div>
            </div>
        </div>
        <div class="box_01">
            <img src="../public/img/diamonds/v_12.jpg">
            <p class="box_P">
                木嶋のりこ 禁じられた遊び
            </p>
            <div class="list_triangle">
                <div class="list_tilt">钻石</div>
            </div>
        </div>
    </div>

    <div class="box">
        <div class="box_01">
            <img src="../public/img/diamonds/v_13.jpg">
            <p class="box_P">
                優紀100% 石堂優紀 Air contro
            </p>
            <div class="list_triangle">
                <div class="list_tilt">钻石</div>
            </div>
        </div>
        <div class="box_01">
            <img src="../public/img/diamonds/v_14.jpg">
            <p class="box_P">
                手島優 - BIG LOVE
            </p>
            <div class="list_triangle">
                <div class="list_tilt">钻石</div>
            </div>
        </div>
        <div class="box_01">
            <img src="../public/img/diamonds/v_15.jpg">
            <p class="box_P">
                DJDK-023 垂涎の着！艳舞！
            </p>
            <div class="list_triangle">
                <div class="list_tilt">钻石</div>
            </div>
        </div>
    </div>

    <div class="box">
        <div class="box_01">
            <img src="../public/img/diamonds/v_16.jpg">
            <p class="box_P">
                暴乳~あばれちち - 松坂南
            </p>
            <div class="list_triangle">
                <div class="list_tilt">钻石</div>
            </div>
        </div>
        <div class="box_01">
            <img src="../public/img/diamonds/v_17.jpg">
            <p class="box_P">
                原紗央莉 - Clear water
            </p>
            <div class="list_triangle">
                <div class="list_tilt">钻石</div>
            </div>
        </div>
        <div class="box_01">
            <img src="../public/img/diamonds/v_18.jpg">
            <p class="box_P">
                中川朋美 - 超乳
            </p>
            <div class="list_triangle">
                <div class="list_tilt">钻石</div>
            </div>
        </div>
    </div>-->

    <div class="tail">
        更多精华资源，仅会员专享....
    </div>
    <div class="tail">
        更多精华资源，仅会员专享....
    </div>







    <div class="end">
        <div class="end_en">
            <a href="index.html" class="end_img">
                <img class="img01" src="../public/img/homepage/end_02.jpg">
                <img class="img02" src="../public/img/homepage/end_01.jpg">
            </a>
        </div>
        <div class="end_en">
            <a href="channel.html" class="end_img">
                <img class="img04" src="../public/img/homepage/end_04.jpg">
                <img class="img03" src="../public/img/homepage/end_03.jpg">
            </a>
        </div>
        <div class="end_en">
            <a href="diamonds.html" class="end_img">
                <img class="img06" src="../public/img/homepage/end_06.jpg">
                <img class="img05" src="../public/img/homepage/end_05.jpg">
            </a>
        </div>
        <div class="end_en">
            <a href="member.html" class="end_img">
                <img class="img08" src="../public/img/homepage/end_08.jpg">
                <img class="img07" src="../public/img/homepage/end_07.jpg">
            </a>
        </div>
    </div>





    <script src="../public/js/zepto.min.js"></script>
    <script src="../public/js/touch.js"></script>
    <script src="../public/js/fx.js"></script>
    <script src="../public/js/payment/payment.js"></script>
    <script src="../public/js/diamonds/diamonds.js"></script>
</body>
</html>