<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link type="text/css" rel="stylesheet" href="../public/css/feedback.css">
    <title>Title</title>
</head>
<body>
<div class="top">
    <p class="top_left">
        <a href="member.html">
            <img src="../public/img/homepage/01.png">
        </a>
    </p>
    <div class=" top01">
        <p class="top_center">用户反馈</p>
    </div>
    <div style="clear: both"></div>
</div>
<div class="box">
    <form class="box_form">
        <input type="radio" value="播放" name="sex" class="form_input01">
        播放
        <input type="radio" value="付费" name="sex" class="form_input01">
        付费
        <input type="radio" value="其他" name="sex" class="form_input01">
        其他
    </form>
</div>

<div class="order">
    <p class="order_p">您的订单号（必填）</p>
    <input type="text" value="请填写真实有效的交易订单号" class="order_input">
    <p class="order_p">您的邮箱（必填）</p>
    <input type="text" value="请填写真实有效的常用邮箱" class="order_input">
    <p class="order_p">问题反馈&意见建议</p>
    <textarea type="textarea" cols="3"  class="order_textarea">
    留下您对我们的宝贵意见或建议，有什么问题请及时反馈给我们，我们会努力不断的改进！祝您生活愉快!
    </textarea>
</div>
<div class="submit" >
    <input class="submit_input" type="submit" value="提交">
</div>




<div class="end">
    <div class="end_en">
        <a href="../index.html" class="end_img">
            <img class="img01" src="../public/img/homepage/end_02.jpg">
            <img class="img02" src="../public/img/homepage/end_01.jpg">
        </a>
    </div>
    <div class="end_en">
        <a href="channel.html" class="end_img">
            <img class="img04" src="../public/img/homepage/end_04.jpg">
            <img class="img03" src="../public/img/homepage/end_03.jpg">
        </a>
    </div>
    <div class="end_en">
        <a href="diamonds.html" class="end_img">
            <img class="img06" src="../public/img/homepage/end_06.jpg">
            <img class="img05" src="../public/img/homepage/end_05.jpg">
        </a>
    </div>
    <div class="end_en">
        <a href="#" class="end_img">
            <img class="img08" src="../public/img/homepage/end_08.jpg">
            <img class="img07" src="../public/img/homepage/end_07.jpg">
        </a>
    </div>
</div>

<script src="../public/js/zepto.min.js"></script>
<script src="../public/js/touch.js"></script>
<script src="../public/js/fx.js"></script>
<script src="../public/js/feedback/feedback.js"></script>
</body>
</html>