<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link type="text/css" rel="stylesheet" href="../public/css/member.css">
    <title>Title</title>
</head>
<body>
    <div class="top">
        <p class="top_left">
            <a href="member.html">
                <img src="../public/img/homepage/01.png">
            </a>
        </p>
        <p class="top_center">会员中心</p>
        <div class="top_right">VIP登录</div>
    </div>

    <div class="banner">
        <img src="../public/img/asia/vip_024.jpg">
    </div>
    <div class="type">
        <div class="type_left">
            <p class="type_left_p">会员类型</p>
            <p class="type_left_p01">游客</p>
        </div>
        <div class="type_lright">
            <p class="type_left_p">支付日期</p>
            <p class="type_left_p01">购买VIP</p>
        </div>
    </div>

    <div class="box">激情视频等你来看!</div>
    <div class="footer">
        <ul>
            <li class="footer_li">
                <a href="activation.html">
                    <p class="footer_p01">
                        <img src="../public/img/asia/04.png">
                    </p>
                    <p class="footer_p02">已经充值？点击登录</p>
                    <p class="footer_p03">
                        <img src="../public/img/asia/06.jpg">
                    </p>
                    <div style="clear: both"></div>
                </a>
            </li>
            <li class="footer_li">
                <p class="footer_p01">
                    <img src="../public/img/asia/05.png">
                </p>
                <p class="footer_p02" style="color:#666666">购买会员</p>
                <p class="footer_p03">
                    <img src="../public/img/asia/06.jpg">
                </p>
                <div style="clear: both"></div>
            </li>
            <li class="footer_li">
                <a href="activation.html">
                    <p class="footer_p01">
                        <img src="../public/img/asia/01.png">
                    </p>
                    <p class="footer_p02"style="color:#666666">自助登陆</p>
                    <p class="footer_p03">
                        <img src="../public/img/asia/06.jpg">
                    </p>
                <div style="clear: both"></div>
                </a>
            </li>
            <li class="footer_li">
                <a href="feedback.html">
                    <p class="footer_p01">
                        <img src="../public/img/asia/02.png">
                    </p>
                    <p class="footer_p02"style="color:#666666">用户反馈</p>
                    <p class="footer_p03">
                        <img src="../public/img/asia/06.jpg">
                    </p>
                    <div style="clear: both"></div>
                </a>
            </li>
            <li class="footer_li">
                <a href="agreement.html">
                    <p class="footer_p01">
                        <img src="../public/img/asia/03.png">
                    </p>
                    <p class="footer_p02"style="color:#666666">用户协议</p>
                    <p class="footer_p03">
                        <img src="../public/img/asia/06.jpg">
                    </p>
                    <div style="clear: both"></div>
                </a>
            </li>

        </ul>
    </div>

    <div class="boc">
    <div class="bomb_box">
        <img class="bomb_box_img" src="../public/img/asia/vip_023.png">
        <p class="bomb_box_p01">
            您还不是会员，充值后可观看所有高清爽片<br/>
            （只需支付一次，享受所有影片观看权限！）！
        </p>
        <form class="bomb_box_form">
            <input id="bomb_input" class="bomb_box_input01" type="radio" name="sex" value="￥48.00" >
            <div class="bomb_box_left">
                <p class="bomb_box_p">包月</p>
                <span class="bomb_box_span">
                    ￥48.00
                </span>
                <div style="clear: both"></div>
            </div>
            <p class="bomb_box_left02">会员有效期三个月</p>
            <div style="clear: both"></div>

            <input id="bomb_input02" class="bomb_box_input01" type="radio" value="￥69.00" name="sex" checked="checked">
            <div class="bomb_box_left">
                <p class="bomb_box_p">终生VIP</p>
                <span class="bomb_box_span01">
                    原价:￥198.00
                </span>
                <div style="clear: both"></div>
            </div>
            <p class="bomb_box_left03">会员终生有效</p>
            <p class="bomb_box_right02">活动价:￥68.00</p>
            <div style="clear: both"></div>
        </form>

        <div class="cue">
            本次活动截止日期：2017年01月15日
        </div>
        <div class="cue_img">
            <a class="cue_img_a" href="payment.html">
                <img src="../public/img/asia/vip_024.png">
                <div class="cue_img_p">支付宝支付</div>
            </a>
        </div>
        <div class="cue_img01">
            <a class="cue_img_a" href="weixin.html">
                <img src="../public/img/asia/vip_025.png">
                <div class="cue_img_p01">微信支付</div>
            </a>
        </div>
        <p class="cue_p">未满十八岁用户,禁止购买观看,无效可退款！</p>
    </div>
    </div>


    <div class="end">
        <div class="end_en">
            <a href="index.html" class="end_img">
                <img class="img01" src="../public/img/homepage/end_02.jpg">
                <img class="img02" src="../public/img/homepage/end_01.jpg">
            </a>
        </div>
        <div class="end_en">
            <a href="channel.html" class="end_img">
                <img class="img04" src="../public/img/homepage/end_04.jpg">
                <img class="img03" src="../public/img/homepage/end_03.jpg">
            </a>
        </div>
        <div class="end_en">
            <a href="diamonds.html" class="end_img">
                <img class="img06" src="../public/img/homepage/end_06.jpg">
                <img class="img05" src="../public/img/homepage/end_05.jpg">
            </a>
        </div>
        <div class="end_en">
            <a href="#" class="end_img">
                <img class="img08" src="../public/img/homepage/end_08.jpg">
                <img class="img07" src="../public/img/homepage/end_07.jpg">
            </a>
        </div>
    </div>



    <script src="../public/js/zepto.min.js"></script>
    <script src="../public/js/touch.js"></script>
    <script src="../public/js/fx.js"></script>
    <script src="../public/js/member/member.js"></script>
</body>
</html>