<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link type="text/css" rel="stylesheet" href="../public/css/weixin.css">
    <title>Title</title>
</head>
<body>
<div class="box">
    <div class="payment">
        支付订单
    </div>
    <form class="payment_form">
        订单编号：
        <input class="payment_input" type="text" value="v1234567890">
    </form>
    <form class="payment_form01">
        支付金额：
        <input id="payment_input02" class="payment_input02" type="text" value="">
    </form>

    <div class="button_01">
        <img src="#">
    </div>
    <p class="button_02">支付方式1：打开微信扫描</p>
    <p class="button_02">支付方式21：截图后在微信中打开长按扫描</p>
    <p class="button_03">温馨提示：支付成功后返回本页面点击下面的按钮登录</p>

    <div class="payment_bt">
        <button class="payment_button">已经完成支付</button>
    </div>
</div>

<div class="success">
    <img class="success_img" src="../public/img/asia/ti.PNG">
    <p class="success_p">支付成功！</p>
    <p class="success_p01">x</p>
    <div style="clear: both"></div>
</div>

<div class="error">
    <img class="error_img" src="../public/img/asia/ti1.png">
    <p class="error_p">支付失败！</p>
    <p class="error_p01">x</p>
    <div style="clear: both"></div>
</div>





    <script src="../public/js/zepto.min.js"></script>
    <script src="../public/js/touch.js"></script>
    <script src="../public/js/fx.js"></script>
    <script src="../public/js/weixin/weixin.js"></script>
</body>
</html>