*{
    margin:0;
    padding:0;
    font-family:Microsoft YaHei;
}
body{
    background:#cbe2d0;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: red;
}
.top{
    width:100%;
    height: 40px;
    background: #32353e;
    position: relative;
    margin-bottom: 5px;
}
.top_left{
    float: left;
    height:40px;
    width:40px;
}
.top_center{
    margin: auto;
    width:80px ;
    line-height: 40px;
    color: #ffffff;
    font-weight: bold;
}
.top_right{
    height: 20px;
    width: 70px;
    background:#fc9843;
    font-size:12px;
    line-height:18px;
    text-align: center;
    color: #ffffff;
    position: absolute;
    right:3%;
    top:10px;
    border-radius: 160px;
}


.end{
    width: 100%;
    height:38px;
    background: #000;
    position: fixed;
    bottom: 0;
    color: #ffffff;
    display: flex;
    padding: 5px 0px;
}
.end_en{
    flex:1;
    text-align: center;
    height:35px;
}
.end_img{
    width: 80%;
    margin: auto;
    height:43px;
}
.end_img img{
    height:100%;
    margin: auto;
}
.img02{
    display: none;

}
.img03{
    display: none;
}
.img06{
    display: none;
}
.img07{
    display: none;
}

.box{
    width: 98%;
    height: 100%;
    display: flex;
    padding-left: 2%;
    margin-bottom: 10px;
}
.box_01{
    width: 30%;
    flex: 1;
    margin-right: 2%;
    position: relative;

}
.box_01 img{
    width: 100%;
}
.box_P{
    width: 100%;
    color: #666666;
    font-size: 12px;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}
.list_triangle{
    position: absolute;
    top:0;
    width:0;
    height:0;
    border-left:0px solid transparent;
    border-right:48px solid transparent;
    border-top:40px solid #ff8f33;
}
.list_tilt{
    font-size: 12px;
    color: #ffffff;
    position: absolute;
    top:-35px;
    left:2px;
    width: 24px;
    -webkit-transform: rotate(51deg);
    -moz-transform: rotate(51deg);
    -ms-transform: rotate(51deg);
    -o-transform: rotate(51deg);
    transform: rotate(-38deg);
}
.tail{
    height: 40px;
    width: 100%;
    border-top: 1px solid #cccccc;
    line-height: 30px;
    text-align: center;
    font-size: 12px;
}

.bxc{
    width:100%;
    height:100%;
    position: fixed;
    background:rgba(0,0,0,0.5);

    left: 0;
    top:0;
    bottom:0;
    display:none;
    z-index: 100;
}
.bomb_box{
    display:none;
    position: fixed;
    top:15%;
    left:20%;
    margin: auto;
    background:#cbe2d0;
    width:60%;
    height:375px;
    border-radius:20px;
    overflow: hidden;
    z-index: 101;

}
.error{
    position: absolute;
    width: 20px;
    height: 20px;
    color: #ffffff;
    font-size: 16px;
    border: 1px solid #ffffff;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    right: 15%;
    top:13%;
}
.bomb_box_img{
    width: 100%;
}
.bomb_box_p01{
    width:90%;
    margin: auto;
    font-size: 12px;
    color: #3f5d3b;
    margin-bottom: 10px;
    -webkit-transform: scale(0.8);
    text-align: center;
}
.bomb_box_form{
    font-size:12px;
    color:  #3f5d3b;
    position: relative;
    margin-bottom: 10px;

}
.bomb_box_input01{
    margin-left: 10%;
    float: left;
    margin-top:1%;
}
.bomb_box_input02{
    margin-left: 10%;
    float: left;
    margin-top:1%;
}
.bomb_box_span{
    float: right;
    margin-right: 10%;
    color: red;
    font-weight: bold;
}
.bomb_box_p{
    margin-left: 10px;
    float: left;
    font-weight: bold;
}
.bomb_box_left02{
    margin-left: 3%;
    color: #666666;
    -webkit-transform: scale(0.6);

}
.bomb_box_span01{
    float: right;
    margin-right: 2%;
    color:#666666;
    font-weight: bold;
}
.bomb_box_left03{
    margin-left: 15%;
    color: #666666;
    -webkit-transform: scale(0.6);
    float: left;
}
.bomb_box_right02{
    margin-right: 2%;
    color: red;
    font-weight: bold;
    float: right;
    position: absolute;
    right:0%;
    border-top:1px solid #8b978d;
    margin-top:-8px;
    padding-top:5px;
}
.cue{
    text-align: center;
    color: red;
    font-size: 12px;
    width:90%;
    margin:auto;
    margin-bottom: 10px;
}
.cue_img{
    width:80%;
    margin: auto;
    position: relative;
}
.cue_img img{
    width:100%;
}
.cue_img01{
    width:80%;
    margin: auto;
    position: relative;
    margin-bottom: 5px;
}
.cue_img01 img{
    width:100%;
}
.cue_img_p{
    position: absolute;
    left:33%;
    top:13%;
    font-size: 12px;
    color: #ffffff;
}
.cue_img_p01{
    position: absolute;
    left:33%;
    top:13%;
    font-size: 12px;
    color: #ffffff;
}
.cue_p {
    color: red;
    font-size: 12px;
    margin: auto;
    text-align: center;
}