*{
    margin: 0;
    padding: 0;
    font-family:Microsoft YaHei;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.box{
    background: #cbe2d0;
    width: 100%;
    height:100%;
    padding-top: 106px;
}
.top{
    width:100%;
    height: 50px;
    background: #32353e;
    position: relative;
    position: fixed;
    top:0;
    z-index: 10;


}
.top_p{
    text-align: center;
    font-family:Microsoft YaHei;
    font-size:20px;
    color: #ffffff;
    line-height: 60px;
}
.top_right{
    height: 25px;
    width: 80px;
    background:#fc9843;
    font-size:12px;
    line-height:25px;
    text-align: center;
    color: #ffffff;
    position: absolute;
    right:3%;
    top:18px;
    border-radius: 160px;
}
.navbar{
    width: 100%;
    height:45px;
    margin-bottom: 1px;
    position: fixed;
    top:50px;
    z-index: 11;
    background: #cbe2d0;
}
.navbar_nav{
    width:80%;
    margin:auto;
    display: flex;

}
.navbar_nav_ion{
    flex:1;
    width:16.7%;
    line-height: 45px;
    text-align: center;
    font-weight: bold;
}
.active{
    color: #849d80;
    border-bottom:1px solid #4474fc;
}
.banner{
    width:100%;
    height:100%;
    margin-top: -10px;

}
.banner_carousel{
    width:100%;
    height:100%;
    position: relative;
    overflow: hidden;
}
.banner_ul{
    width:500%;
    height:121px;
}
.banner_carousel_li{
    width:20%;
    height:121px;
    float: left;
}
.banner_carousel_li img{
    width:100%;

}
.banner_punctuation{
    width:25%;
    margin: auto;
    position: absolute;
    bottom:10%;
    left:50%;
    margin-left: -40px;
}
.banner_punctuation_li{
    width:10px;
    height:10px;
    background:rgba(54,58,57,0.5);
    border-radius: 50%;
    float: left;
    margin-right: 7%;
}
.banner_active{
    background:#ffffff;
}
.navbar_nome{
    width:100%;
    height:30px;
    font-size:16px;
    font-weight:bold;
    border-top: 1px solid #ccc;
}
.navbar_nome_left{
    margin-left:4%;
    line-height:30px;
    float: left;
    font-size: 14px;
}
.navbar_nome_right{
    margin-right:4%;
    line-height:30px;
    float: right;
    color: #8b978d;
    font-size: 14px;
}
.list{
    display: flex;
    height:100%;
    width: 98%;
    padding-left: 2%;
    margin: auto;
    position: relative;
}
.list_img{
    flex:1;
    width:30%;
    margin-right:2%;
    margin-bottom: 5px;
}
.list_img img{
    width: 100%;
    height:87%;
}
.list_p{
    color: #b8cdbc;
    font-size:14px;
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}
.list_triangle{
    position: absolute;
    top:0;
    width:0;
    height:0;
    border-left:0px solid transparent;
    border-right:48px solid transparent;
    border-top:40px solid #9601b3;
}
.list_tilt{
    font-size: 12px;
    color: #ffffff;
    position: absolute;
    top:-35px;
    left:2px;
    width: 24px;
    -webkit-transform: rotate(51deg);
    -moz-transform: rotate(51deg);
    -ms-transform: rotate(51deg);
    -o-transform: rotate(51deg);
    transform: rotate(-38deg);
}
.list_vip{
    position: absolute;
    top:0;
    width:0;
    height:0;
    border-left:0px solid transparent;
    border-right:48px solid transparent;
    border-top:40px solid red;
}
.list_vip_tilt{
    font-size: 12px;
    color: #ffffff;
    position: absolute;
    top:-37px;
    left:5px;
    -webkit-transform: rotate(-39deg);
    -moz-transform: rotate(-39deg);
    -ms-transform: rotate(-39deg);
    -o-transform: rotate(-39deg);
    transform: rotate(-39deg);
}
.footer{
    width: 100%;
    height:45px;
}
.end{
    width: 100%;
    height:38px;
    background: #000;
    position: fixed;
    bottom: 0;
    color: #ffffff;
    display: flex;
    padding: 5px 0px;
}
.end_en{
    flex:1;
    text-align: center;
}
.end_img{
    width: 80%;
    margin: auto;
    height:36px;
}
.end_img img{
    height:92%;
    margin: auto;
}
.img02{
    display: none;

}
.img03{
    display: none;
}
.img05{
    display: none;
}
.img07{
    display: none;
}
.bocc02{
    display: none;
    height:100%;
    width: 100%;
}
.bocc03{
    display: none;
    height:100%;
    width: 100%;
}
.bocc04{
    display: none;
    height:100%;
    width: 100%;
}
.bocc05{
    display: none;
    height:100%;
    width: 100%;
}
.bocc06{
    display: none;
    height:100%;
    width: 100%;
}
.tail{
    height:40px;
    width:100%;
    border-top:1px solid #cccccc;
    line-height: 30px;
    text-align: center;
    font-size: 12px;
}

.bxc{
    width:100%;
    height:100%;
    position: fixed;
    background:rgba(0,0,0,0.5);

    left: 0;
    top:0;
    bottom:0;
    display:none;
    z-index: 100;
}
.bomb_box{
    display:none;
    position: fixed;
    top:15%;
    left:20%;
    margin: auto;
    background:#cbe2d0;
    width:60%;
    height:375px;
    border-radius:20px;
    overflow: hidden;
    z-index: 101;

}
.bomb_box_img{
    width: 100%;
}
.bomb_box_p01{
    width:90%;
    margin: auto;
    font-size: 12px;
    color: #3f5d3b;
    margin-bottom: 10px;
    -webkit-transform: scale(0.8);
    text-align: center;
}
.bomb_box_form{
    font-size:12px;
    color:  #3f5d3b;
    position: relative;
    margin-bottom: 10px;

}
.bomb_box_input01{
    margin-left: 10%;
    float: left;
    margin-top:1%;
}
.bomb_box_input02{
    margin-left: 10%;
    float: left;
    margin-top:1%;
}
.bomb_box_span{
    float: right;
    margin-right: 10%;
    color: red;
    font-weight: bold;
}
.bomb_box_p{
    margin-left: 10px;
    float: left;
    font-weight: bold;
}
.bomb_box_left02{
    margin-left: 3%;
    color: #666666;
    -webkit-transform: scale(0.6);

}
.bomb_box_span01{
    float: right;
    margin-right: 2%;
    color:#666666;
    font-weight: bold;
}
.bomb_box_left03{
    margin-left: 15%;
    color: #666666;
    -webkit-transform: scale(0.6);
    float: left;
}
.bomb_box_right02{
    margin-right: 2%;
    color: red;
    font-weight: bold;
    float: right;
    position: absolute;
    right:0%;
    border-top:1px solid #8b978d;
    margin-top:-8px;
    padding-top:5px;
}
.cue{
    text-align: center;
    color: red;
    font-size: 12px;
    width:90%;
    margin:auto;
    margin-bottom: 10px;
}
.cue_img{
    width:80%;
    margin: auto;
    position: relative;
}
.cue_img img{
    width:100%;
}
.cue_img01{
    width:80%;
    margin: auto;
    position: relative;
    margin-bottom: 5px;
}
.cue_img01 img{
    width:100%;
}
.cue_img_p{
    position: absolute;
    left:33%;
    top:13%;
    font-size: 12px;
    color: #ffffff;
}
.cue_img_p01{
    position: absolute;
    left:33%;
    top:13%;
    font-size: 12px;
    color: #ffffff;
}
.cue_p {
    color: red;
    font-size: 12px;
    margin: auto;
    text-align: center;
}