*{
    margin:0;
    padding:0;
    font-family:Microsoft YaHei;
}
body{
    background:#cbe2d0;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: red;
}
.top{
    width:100%;
    height: 40px;
    background: #32353e;
    position: relative;
}
.top_left{
    float: left;
    height:40px;
    width:40px;
}
.top_center{
    text-align: center;
    line-height: 40px;
    color: #ffffff;
    font-weight: bold;
}
.top_right{
    height: 20px;
    width: 60px;
    background:#fc9843;
    font-size:12px;
    line-height:18px;
    text-align: center;
    color: #ffffff;
    position: absolute;
    right:3%;
    top:10px;
    border-radius: 160px;
}

.end{
    width: 100%;
    height:38px;
    background: #000;
    position: fixed;
    bottom: 0;
    color: #ffffff;
    display: flex;
    padding: 5px 0px;
}
.end_en{
    flex:1;
    text-align: center;
    height:35px;
}
.end_img{
    width: 80%;
    margin: auto;
    height:43px;
}
.end_img img{
    height:100%;
    margin: auto;
}
.img02{
    display: none;

}
.img03{
    display: none;
}
.img05{
    display: none;
}
.img08{
    display: none;
}


.banner{
    width:100%;
    height:100%;
}
.banner img{
    width: 100%;
}

.type{
    width:100%;
    height:100%;
    display: flex;
    padding: 5px 0;
}
.type_left{
    flex: 1;
    border-right:1px solid #666666;
}
.type_lright{
    flex:1;
}
.type_left_p{
    color: #bdbdbd;
    text-align: center;
    font-size: 12px;
}
.type_left_p01{
    text-align: center;
    font-size: 13px;
}
.box{
    color: #ffffff;
    text-align: center;
    width:100%;
    font-size: 14px;
    background:#434343;
    margin-bottom: 5px;
}
li{
    list-style: none;
}
.footer_li{
    width: 96%;
    height:30px;
    padding:2%;
    border-bottom:1px solid #ccc;

}
.footer_p01{
    float: left;
    width:30px;
}
.footer_p01 img{
    width:100%;

}
.footer_p02{
    float: left;
    height:100%;
    color:#e74c3c;
    font-size: 12px;
    line-height: 30px;
    margin-left:2%;
}
.footer_p03{
    float: right;
    height:100%;
}
.footer_p03 img{
    height:100%;
}
.boc{
    width:100%;
    height:100%;
    position: fixed;
    background:rgba(0,0,0,0.5);

    left: 0;
    top:0;
    bottom:0;
    display:none;
}

.error{
    position: absolute;
    width: 20px;
    height: 20px;
    color: #ffffff;
    font-size: 16px;
    border: 1px solid #ffffff;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    right: 15%;
    top:13%;
}

.bomb_box{

    position: fixed;
    top:15%;
    left:20%;
    margin: auto;
    background:#cbe2d0;
    height:375px;
    border-radius:20px;
    overflow: hidden;

}
.bomb_box_img{
    width: 100%;
}
.bomb_box_p01{
    width:90%;
    margin: auto;
    font-size: 12px;
    color: #3f5d3b;
    margin-bottom: 10px;
    -webkit-transform: scale(0.8);
    text-align: center;
}
.bomb_box_form{
    font-size:12px;
    color:  #3f5d3b;
    position: relative;
    margin-bottom: 10px;

}
.bomb_box_input01{
    margin-left: 10%;
    float: left;
    margin-top:1%;
}
.bomb_box_input02{
    margin-left: 10%;
    float: left;
    margin-top:1%;
}
.bomb_box_span{
    float: right;
    margin-right: 10%;
    color: red;
    font-weight: bold;
}
.bomb_box_p{
    margin-left: 10px;
    float: left;
    font-weight: bold;
}
.bomb_box_left02{
    margin-left: 3%;
    color: #666666;
    -webkit-transform: scale(0.6);

}
.bomb_box_span01{
    float: right;
    margin-right: 2%;
    color:#666666;
    font-weight: bold;
}
.bomb_box_left03{
    margin-left: 15%;
    color: #666666;
    -webkit-transform: scale(0.6);
    float: left;
}
.bomb_box_right02{
    margin-right: 2%;
    color: red;
    font-weight: bold;
    float: right;
    position: absolute;
    right:0%;
    border-top:1px solid #8b978d;
    margin-top:-8px;
    padding-top:5px;
}
.cue{
    text-align: center;
    color: red;
    font-size: 12px;
    width:90%;
    margin:auto;
    margin-bottom: 10px;
}
.cue_img{
    width:80%;
    margin: auto;
    position: relative;
}
.cue_img img{
    width:100%;
}
.cue_img01{
    width:80%;
    margin: auto;
    position: relative;
    margin-bottom: 5px;
}
.cue_img01 img{
    width:100%;
}
.cue_img_p{
    position: absolute;
    left:33%;
    top:13%;
    font-size: 12px;
    color: #ffffff;
}
.cue_img_p01{
    position: absolute;
    left:33%;
    top:13%;
    font-size: 12px;
    color: #ffffff;
}
.cue_p{
    color: red;
    font-size: 12px;
    margin: auto;
    text-align: center;
}