<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link type="text/css" rel="stylesheet" href="../../public/css/details.css">
    <title>Title</title>
</head>
<body>
<div class="top">
    <p class="top_left">
        <a href="../../index.html">
            <img src="../../public/img/homepage/01.png">
        </a>
    </p>
    <p class="top_center">详情播放</p>
    <div class="top_right">开通VIP</div>
</div>
<div class="video">
    <div class="video_img">
        <img src="../../public/img/poster/制服丝袜.JPG">
    </div>
    <video class="video_01" id="video_01" controls preload="auto">
        <source class="video_source" src="../../public/img/video.ogg/制服丝袜.mp4">
    </video>
</div>
<div class="video_center">
    <img src="../../public/img/homepage/paly.png">
</div>
<div class="prompt">
    <div class="prompt_center">
        非会员只能试看20秒，<a href="#">成为会员</a> 观看全部
    </div>
</div>

<div class="navbar_nome">
    <span class="navbar_nome_left">亚洲精典</span>
    <span class="navbar_nome_right">+MORE</span>
</div>


<div class="list">
    <div class="list_img">
        <img src="../../public/img/homepage/02_05.jpg">
        <p class="list_p">波多野结衣</p>
        <div class="list_triangle">
            <div class="list_tilt">看试</div>
        </div>
    </div>
    <div class="list_img">
        <img src="../../public/img/homepage/02_07.jpg">
        <p class="list_p">苍井空</p>
        <div class="list_triangle">
            <div class="list_tilt">看试</div>
        </div>
    </div>
    <div class="list_img">
        <img src="../../public/img/asia/vip_01.jpg">
        <p class="list_p">日本第一美巨乳松金洋子</p>
        <div class="list_vip">
            <div class="list_vip_tilt">vip</div>
        </div>
    </div>
</div>

<div class="comment">
    狼友热评
</div>

<div class="comment_nav">
    <div class="comment_nav_left">
        <div class="comment_img">
            <img src="../../public/img/wolf/9e0120cv23-images-1464853668.jpg">
        </div>
    </div>
    <div class="comment_nav_right">
        <p class="comment_nav_right_p01">Karatcka</p>
        <p class="comment_nav_right_p02">更新很快呀！真是为我们这些狼友提供了一个好的平台。大家一起顶起来~~~</p>
        <p class="comment_nav_right_p03">
            <span class="p_span_left">刚刚</span>
            <span class="p_span_right">热评</span>
        <div style="clear: both"></div>
        </p>
    </div>
    <div style="clear:both"></div>
</div>

<div class="comment_nav">
    <div class="comment_nav_left">
        <div class="comment_img">
            <img src="../../public/img/wolf/9e0120cv23-images-1464853930.jpg">
        </div>
    </div>
    <div class="comment_nav_right">
        <p class="comment_nav_right_p01">小小巫</p>
        <p class="comment_nav_right_p02">哇！不错不错，而且缓冲很快，点赞！</p>
        <p class="comment_nav_right_p03">
            <span class="p_span_left">刚刚</span>
            <span class="p_span_right">热评</span>
        <div style="clear: both"></div>
        </p>
    </div>
    <div style="clear:both"></div>
</div>

<div class="comment_nav">
    <div class="comment_nav_left">
        <div class="comment_img">
            <img src="../../public/img/wolf/9e0120cv23-images-1464854478.jpg">
        </div>
    </div>
    <div class="comment_nav_right">
        <p class="comment_nav_right_p01">喵喵</p>
        <p class="comment_nav_right_p02">尼玛呀~害得我又忍不住撸了几次，压根就停不下来啊</p>
        <p class="comment_nav_right_p03">
            <span class="p_span_left">刚刚</span>
            <span class="p_span_right">热评</span>
        <div style="clear: both"></div>
        </p>
    </div>
    <div style="clear:both"></div>
</div>

<div class="comment_nav">
    <div class="comment_nav_left">
        <div class="comment_img">
            <img src="../../public/img/wolf/9e0120cv23-images-1464854010.jpg">
        </div>
    </div>
    <div class="comment_nav_right">
        <p class="comment_nav_right_p01">蜡笔没有小新</p>
        <p class="comment_nav_right_p02">今晚好孤单，还好有你陪伴！</p>
        <p class="comment_nav_right_p03">
            <span class="p_span_left">刚刚</span>
            <span class="p_span_right">热评</span>
        <div style="clear: both"></div>
        </p>
    </div>
    <div style="clear:both"></div>
</div>

<div class="comment_nav">
    <div class="comment_nav_left">
        <div class="comment_img">
            <img src="../../public/img/wolf/9e0120cv23-images-1464854126.jpg">
        </div>
    </div>
    <div class="comment_nav_right">
        <p class="comment_nav_right_p01">中央空调</p>
        <p class="comment_nav_right_p02">太精彩了哇，看来充值是没白冲，物超所值，在别的地方都看不了。
            就你们这里有资源，而且质量高，真爱你们！</p>
        <p class="comment_nav_right_p03">
            <span class="p_span_left">刚刚</span>
            <span class="p_span_right">热评</span>
        <div style="clear: both"></div>
        </p>
    </div>
    <div style="clear:both"></div>
</div>

<div class="comment_nav">
    <div class="comment_nav_left">
        <div class="comment_img">
            <img src="../../public/img/wolf/9e0120cv23-images-1464854225.jpg">
        </div>
    </div>
    <div class="comment_nav_right">
        <p class="comment_nav_right_p01">糖糖</p>
        <p class="comment_nav_right_p02">果然是高清全集的，红红火火恍恍惚惚哈哈哈哈，
            找了这么久终于找到了，每天都会上来看几部。好怕被老婆知道</p>
        <p class="comment_nav_right_p03">
            <span class="p_span_left">刚刚</span>
            <span class="p_span_right">热评</span>
        <div style="clear: both"></div>
        </p>
    </div>
    <div style="clear:both"></div>
</div>

<div class="comment_nav">
    <div class="comment_nav_left">
        <div class="comment_img">
            <img src="../../public/img/wolf/9e0120cv23-images-1464854305.jpg">
        </div>
    </div>
    <div class="comment_nav_right">
        <p class="comment_nav_right_p01">电竞陈冠希</p>
        <p class="comment_nav_right_p02">雅蠛蝶~雅蠛蝶~够爽！！！</p>
        <p class="comment_nav_right_p03">
            <span class="p_span_left">半小时前</span>
            <span class="p_span_right">热评</span>
        <div style="clear: both"></div>
        </p>
    </div>
    <div style="clear:both"></div>
</div>

<div class="comment_nav">
    <div class="comment_nav_left">
        <div class="comment_img">
            <img src="../../public/img/wolf/9e0120cv23-images-1464854350.jpg">
        </div>
    </div>
    <div class="comment_nav_right">
        <p class="comment_nav_right_p01">再回首恍然如梦</p>
        <p class="comment_nav_right_p02">希望支持下载到手机，家里没有wifi啊，怎么办？想睡觉的时候看</p>
        <p class="comment_nav_right_p03">
            <span class="p_span_left">半小时前</span>
            <span class="p_span_right">热评</span>
        <div style="clear: both"></div>
        </p>
    </div>
    <div style="clear:both"></div>
</div>

<div class="comment_nav">
    <div class="comment_nav_left">
        <div class="comment_img">
            <img src="../../public/img/wolf/9e0120cv23-images-1464854428.jpg">
        </div>
    </div>
    <div class="comment_nav_right">
        <p class="comment_nav_right_p01">想你夜不能寐</p>
        <p class="comment_nav_right_p02">你们这个播放器的资源不会失效吧？</p>
        <p class="comment_nav_right_p03">
            <span class="p_span_left">半小时前</span>
            <span class="p_span_right">热评</span>
        <div style="clear: both"></div>
        </p>
    </div>
    <div style="clear:both"></div>
</div>
<div class="footer">更多评论VIP可看...</div>

<div class="bxc">
    <div class="bomb_box">
        <div class="bomb_box_div">
            <img class="bomb_box_img" src="../../public/img/payment/vip_023.png">
        </div>
        <p class="bomb_box_p01">
            您还不是会员，充值后可观看所有高清爽片<br/>
            （只需支付一次，享受所有影片观看权限！）！
        </p>
        <form class="bomb_box_form">
            <input id="bomb_input" class="bomb_box_input01" type="radio" name="sex" value="￥48.00" >
            <div class="bomb_box_left">
                <p class="bomb_box_p">包月</p>
                <span class="bomb_box_span">
                    ￥48.00
                </span>
                <div style="clear: both"></div>
            </div>
            <p class="bomb_box_left02">会员有效期三个月</p>
            <div style="clear: both"></div>

            <input id="bomb_input02" class="bomb_box_input01" type="radio" value="￥69.00" name="sex" checked="checked">
            <div class="bomb_box_left">
                <p class="bomb_box_p">终生VIP</p>
                <span class="bomb_box_span01">
                    原价:￥198.00
                </span>
                <div style="clear: both"></div>
            </div>
            <p class="bomb_box_left03">会员终生有效</p>
            <p class="bomb_box_right02">活动价:￥68.00</p>
            <div style="clear: both"></div>
        </form>

        <div class="cue">
            本次活动截止日期：2017年01月15日
        </div>
        <div class="cue_img">
            <a class="cue_img_a" href="../payment.html">
                <img src="../../public/img/payment/vip_024.png">
                <div class="cue_img_p">支付宝支付</div>
            </a>
        </div>
        <div class="cue_img01">
            <a class="cue_img_a" href="#">
                <img src="../../public/img/payment/vip_025.png">
                <div class="cue_img_p01">微信支付</div>
            </a>
        </div>
        <p class="cue_p">未满十八岁用户,禁止购买观看,无效可退款！</p>
        <div class="error">
        x
        </div>
    </div>
</div>

<div class="end">
    <div class="end_en">
        <a href="../../index.html" class="end_img">
            <img class="img01" src="../../public/img/homepage/end_02.jpg">
            <img class="img02" src="../../public/img/homepage/end_01.jpg">
        </a>
    </div>
    <div class="end_en">
        <a href="../channel.html" class="end_img">
            <img class="img04" src="../../public/img/homepage/end_04.jpg">
            <img class="img03" src="../../public/img/homepage/end_03.jpg">
        </a>
    </div>
    <div class="end_en">
        <a href="../diamonds.html" class="end_img">
            <img class="img06" src="../../public/img/homepage/end_06.jpg">
            <img class="img05" src="../../public/img/homepage/end_05.jpg">
        </a>
    </div>
    <div class="end_en">
        <a href="../member.html" class="end_img">
            <img class="img08" src="../../public/img/homepage/end_08.jpg">
            <img class="img07" src="../../public/img/homepage/end_07.jpg">
        </a>
    </div>
</div>


<script src="../../public/js/zepto.min.js"></script>
<script src="../../public/js/touch.js"></script>
<script src="../../public/js/fx.js"></script>
<script src="../../public/js/payment/payment.js"></script>
<script src="../../public/js/details/details.js"></script>
</body>
</html>